@import "main-content";

body {
  background-color: rgba(66, 59, 59, 0.226);
  padding: 0 5%;
  line-height: 1.4;
  margin-top: 2rem;
  background-image: url("../img/computers-view.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  background-color: #fff;
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}
